/* GENERAL */

html {
    height: 100%;
    margin-top: 1.5%;
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-bottom: 1.5%;
    padding: 0;
}

body{
    
    margin: 1.5%;
    padding: 0;

/*no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

background-attachment: fixed;
background-repeat: no-repeat;
background-position: center center;
height: 98%;
width: 98%;
position: absolute;
overflow: scroll;
;*/
}

img{
    border-radius:10px 10px 10px 10px;
}

section{
    min-height: 75vh;
}

a:link, a:visited, a:active {
    text-decoration:none;
}


@font-face {
    font-family: 'SuisseIntl';
    src: url('../fonts/SuisseIntl-Light.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'SuisseIntl-Regular';
    src: url('../fonts/SuisseIntlTrial-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'SequelSans-BookHead';
    src: url('../fonts/SequelSans-BookHead.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'SequelSans-RomanHead';
    src: url('../fonts/SequelSans-RomanHead.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'SFProDisplay-Regular';
    src: url('../fonts/SFProDisplay-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'SFProDisplay-Medium';
    src: url('../fonts/SFProDisplay-Medium.ttf');
    font-style: normal;
    font-weight: normal;
}

.suisse-regular{
    font-family: SuisseIntl-Regular;
    display:inline;
}

.sequel-sans{
    font-family: SuisseIntl-Regular;
    display:inline;
}

 /* CODIGO */

.white{
    background-color:#000000;
    color: whitesmoke;
}

.black{
    background-color: whitesmoke;
    color: black;
}

.text-white{
    color: black !important;
}

.text-black{
    color: white !important;
}

.text-grey{
    color: #9b9b9b !important;
}

.text-grey-black{
    color: #3f3f3f !important;
}
.header{
    /* color: whitesmoke; */
    top : 15px;
    left: 1%;
    position: fixed;
    z-index: 10000;
}

nav{
    padding: 0;
}

.navClass{
    height: 15%;
    margin-right: 0;
    padding-right: 1%;
    padding-top: 1%; 
    padding-bottom: 1%;
    display: block;
}

.margenes-work{
    padding-right: 0 !important;
}

.ulPadding{
    padding-top: 0;
}

.links{
    top : 15px;
    right: 1.5%;
    padding-right: 0;
    position: fixed;
}

._Ostia_Antica{
    font-family:SFProDisplay-Medium;
    line-height: 16.8px;
    text-align:left;
    text-indent:0em;
    padding: 0;
    text-transform:none;
    font-style:normal;
    text-decoration: none;
    border-bottom: none;
}
    
@media (min-width: 1025px){
    ._Ostia_Antica{
        margin:0px 0 15px 0;}
    ._Ostia_Antica:last-child{
        margin-bottom: 0;
    }
    
}

._Ostia_Antica_BookHead{
    font-family:SFProDisplay-Regular;
    line-height: 16.8px;
    text-align:left;
    padding: 0;
}

._Ostia_Antica_BookHead-about{
    font-family:SFProDisplay-Regular;
    line-height: 18.8px;
    text-align:left;
    padding: 0;
}

    


._Ostia_Antica-about{
    font-family:SequelSans-BookHead;
    color: black;
    letter-spacing:0em;
    font-weight:400;
    text-align:left;
    text-indent:0em;
    padding: 0;
    text-transform:none;
    font-style:normal;
    text-decoration: none;
    border-bottom: none;
    line-height: 16.8px;
}
    
@media (min-width: 1025px){
    ._Ostia_Antica-about{
        margin:0px 0 15px 0;}
    ._Ostia_Antica-about:last-child{
        margin-bottom: 0;
    }
    
}

.texto_grande{
    font-size: 19px !important;
}

.texto_mediano{
    font-size: 17px !important;
}

.texto_pequeno{
    font-size: 15px !important;
}

._Columnas{
    display: -webkit-box;
    overflow-y: scroll;
    height: 100%;
    overflow-x: hidden !important;
    -webkit-text-size-adjust: none;
}

.container{
    padding-top: 3%;
    overflow:hidden;
    min-width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 9%;
}

.head{
    padding-bottom: 3%;
    position: absolute;
}

.text{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 0;

    /* color: white; */
}

.entry-title{
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.grid--ele .attachment-post-thumbnail {
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;

    display: block;
}

img.size-full, img.size-large, img.header-image, img.wp-post-image {
    height: auto;
    width: 100%;
}

img {
    border: 0;

}


.grid--ele {
    position: relative;
    display: block;
}

.columnas{
    padding-top: 0.25%; 
    padding-bottom: 0.25%; 
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.columnas-about{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0;
    padding-right: 0;
}

.columnas-izq-about{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0;
    padding-right: 0.5%;
}


.columnas-der-about{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0.5%;
    padding-right: 0;
}


.expandir{
    /* min-width: 100%;
    margin: 1.5%; */
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -ms-flexbox;
}

.textoHover{
    padding-left: 0.5%;
    padding-right: 0.25%;
    margin : 0;
    padding-top: 0.5%;
    padding-bottom: 2.5%;
    color: white;
}

.textoHover2{
    padding-left: 0.5%;
    padding-right: 0.25%;
    margin : 0;
    padding-top: 0.5%;
    padding-bottom: 2.5%;
    color: #9e9e9e !important;
}


.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color:black;  
}



.blanco{
    color: whitesmoke !important;
}

.negro {
    /* color: rgba(255,255,255,.5); */
    color: black !important;
}

.titleMov{
    visibility: hidden;
    
}

.divMov{
    display: none;
}

.spanNoMov{
    display: inherit;
}

.non-selectable {
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
 }


/* BOTTOM */

.navFin { 
    position:flex;
    display: block;
    left: 0;
    bottom: 0;
    width:100%;
    margin: 0;
    padding-top: 1%;
    overflow: hidden;
    /* padding-bottom: 15px;*/
} 

.divNavFin{
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    box-sizing: border-box;
    flex-direction: row;
}

.aNavFin{
    text-decoration: none;
    display: inline;
}

/* .aNavFin:hover{
    color: rgba(255,255,255,.5);
} */

.aNavFin-black{
    color: black;
    display: inline;
}

.aNavFin-black:hover{
    text-decoration: underline !important;
    color: black;
}



/* pROJECT */

.background-main{
    background-color: white;
    color: black;
}

/* ABOUT */

.background-about{
    background-color: #9e9e9e;
    color: black;
}

.two-columns {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;

    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
    
    -webkit-column-gap: 2rem; /* Chrome, Safari, Opera */
    -moz-column-gap: 2rem; /* Firefox */
    column-gap: 2rem;

}

#lateral {
    width: 50%;  /* Este será el ancho que tendrá tu columna */
    float:left; /* Aquí determinas de lado quieres quede esta "columna" */
    padding-left: 0;
    padding-right: 0.75%;
}

#principal {
    width: 50%;
    float: right;
    padding-right: 0;
    padding-left: 0.75%;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.label-img{
    margin-top: 1rem;
}

#content{min-height: calc(1vh - 10px);}


/* boton */
.div-boton{
padding-bottom: 1%;
padding-top: 1%;
}

.switch{
    margin : 0;
    position: relative;
    width: 55px;
    height: 30px;
}

.switch input{
    display: none;
}

.slider{
    position: absolute;
    cursor: pointer;
    transition: 0.4s;
    background-color: #e9e9e9;
    border-radius: 34px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.slider:before{
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    background-color: whitesmoke;
    transition: 0.4s;
    border-radius: 25px;
    left: 3px;
    bottom: 2.25px;
}

input:checked + .slider{
    background-color: #222222;
}

input:checked + .slider:before{
    background-color: #444444;
}

input:checked + .slider:before{
    transform: translateX(24px);
}

.derecha{
    right: 0;
    flex-direction: row;
    text-align:right;
}


/* MOVIL */

@media (max-width: 1025px){
    .textMov {font-size: 30px !important;
        line-height: normal;}
    
    .titleMov{
        visibility: visible;
    }

    .divMov{
        padding-bottom: 3%;
        padding-top: 2%;
        display: inherit;
    }

    .spanNoMov{
        display: none;
    }

    .bodyMov{
        padding-top:15%;
    }

    .navClass{
        top: -7%;
        display: inherit;
    }

    .navMbl{
        display: -webkit-inline-box;
    }

    .aMobl{
        padding-left: 40px !important; 
        font-size: 40px;
    }
     .marinaMobl {
        font-size: 40px !important;
    }

    .divMbl{
        padding-right: 0;
    }

    #lateral {
        width: 100%;  /* Este será el ancho que tendrá tu columna */
        float:left; /* Aquí determinas de lado quieres quede esta "columna" */
    }
    
    #principal {
        width: 100%;
        float: left;
        padding-left: 0;
    }

    .container{
        font-size: 40px;
        
    }

    .columnas-izq-about {

        padding-left: 0;
        padding-right: 0;
    }
    .columnas-der-about {

        padding-left: 0;
        padding-right: 0;
    }

    img{
        border-radius:0px 0px 0px 0px;
        padding-bottom: 3px;
    }

}


/* RELOJ */

 #digital-clock {
    color: white;
 margin: auto;
 text-align: center; }
